* {
    font-family: Roboto, sans-serif;
}

a:link {
    padding: 10px;
    text-decoration: none;
    color: #808080;
    font-weight: 400;
    font-size: 15px;
    float: right;
}

a:hover {
    background-color: #00008b;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #808080;
}

.search-form {
    width: 1500px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

h1 {
    font-weight: 500;


}

input {

}