* {
    font-family: Roboto, sans-serif;
}

a:link {
    padding: 10px;
    text-decoration: none;
    color: #808080;
    font-weight: 400;
    font-size: 15px;
    float: right;
}

a:hover {
    color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 1px 1px 1px #c3c8cb;
}

a:visited {
    color: rgb(255, 255, 255);
}

.search-form {
    width: 90vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.search-form > img {
    margin-bottom: 30px;
    align-items: center;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input {
    outline: none;
    height: 40px;
    font-size: 16px;
}

.search {
    width: 500px;
    margin-right: 10px;
    box-sizing: border-box;
    box-shadow: 0px 1px 8px -2px #000000;
    border-radius: 20px;
    border: none;
    padding: 15px;
}

.submit {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #88878c;
    background-color: transparent;
    margin-top: 20px;
}

.submit:hover {
    background-color: #88878c;
    color: #ffffff;
}

